<footer class="mt-8 bg-blue-400 pt-5">
    <div class="w-full pb-4 lg:container lg:mx-auto">
        <div class="w-full mb-4 flex-wrap justify-center items-center lg:px-0 lg:flex">
            <div class="py-6 xs:py-8 md:py-4 lg:w-6/12 lg:rounded lg:h-72 xl:h-64 2xl:h-60">
                <h3 class="font-bold text-center text-xl xs:text-2xl">
                    About
                </h3>
                <p class="p-5 text-lg xs:text-xl">
                    Looking for games to play with friends or family? Check out our website, where you can find a comprehensive list of co-op games.
                    From action-packed adventures to creative puzzles, we've got you covered. Join forces and have a blast with our selection of multiplayer games!
                </p>
            </div>
            <div class="pb-4 xs:pb-8 md:py-4 lg:w-5/12 lg:rounded lg:ml-5 lg:h-72 xl:h-64 2xl:h-60">
                <h3 class="font-bold text-center text-xl xs:text-2xl">
                    Social Media
                </h3>
                <div class="flex flex-wrap items-center justify-center py-2">
                    <a href="" target="_blank" class="p-2 hover:opacity-80"><img src="/assets/images/discord.png" alt="Discord" class="w-14 h-auto md:w-15"></a>
                    <a href="" target="_blank" class="p-2 hover:opacity-80"><img src="/assets/images/facebook.png" alt="Facebook" class="w-14 h-auto md:w-15"></a>
                    <a href="" target="_blank" class="p-2 hover:opacity-80"><img src="/assets/images/instagram.png" alt="Instagram" class="w-14 h-auto md:w-15"></a>
                    <a href="" target="_blank" class="p-2 hover:opacity-80"><img src="/assets/images/plurk.png" alt="Plurk" class="w-14 h-auto md:w-15"></a>
                    <a href="" target="_blank" class="p-2 hover:opacity-80"><img src="/assets/images/reddit.png" alt="Reddit" class="w-14 h-auto md:w-15"></a>
                    <a href="" target="_blank" class="p-2 hover:opacity-80"><img src="/assets/images/vimeo.png" alt="Vimeo" class="w-14 h-auto md:w-15"></a>
                    <a href="" target="_blank" class="p-2 hover:opacity-80"><img src="/assets/images/youtube.png" alt="Youtube" class="w-14 h-auto md:w-15"></a>
                    <a href="" target="_blank" class="p-2 hover:opacity-80"><img src="/assets/images/twitter.png" alt="Twitter" class="w-14 h-auto md:w-15"></a>
                </div>
            </div>
        </div>
        <p class="text-center text-lg xs:text-xl">
            Created by <a href="https://sakurasou.com.br/" class="underline cursor-pointer hover:text-gray-700" >Sakurasou Devlog</a>
        </p>
    </div>
</footer>