<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.tailwind.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Painel</title>
</head>
<body class="bg-gray-700">
    {{> header_painel}}
    <main>
        {{{body}}}
        {{#if success_msg}}
            <div class="mx-auto container bg-green-400 p-4 my-4 md:rounded">
                {{success_msg}}
            </div>
        {{/if}}
        {{#if error_msg}}
            <div class="mx-auto container bg-red-400 p-4 my-4 md:rounded">
                {{error_msg}}
            </div>
        {{/if}}
        {{#if error}}
            <div class="mx-auto container bg-red-400 p-4 my-4 md:rounded">
                {{error}}
            </div>
        {{/if}}
    </main>
</body>
</html>