<section class="pt-20 mx-auto w-full lg:container lg:rounded">
    <div class="mt-4 pt-4 bg-blue-400 mx-auto w-full lg:container lg:rounded">
        <img src="/assets/images/Logo_New.png" alt="Logo" class="mx-auto h-auto w-80 mt-6">
        <h3 class="text-center p-4 text-xl font-bold xs:font-normal xs:text-2xl lg:text-3xl">Natsuemi</h3>
        <p class="text-center px-6 pb-16 text-lg xs:text-xl">
            This site is dedicated to listing co-op games that you can enjoy with your family or friends. From classic Super Nintendo games to the latest releases in the market, we've got you covered.
            <br> <br>
            Built with Node.js and Tailwind CSS, this project is open-source and available on Github. This means that you can contribute to the expansion of our database of games and make this project even better. To learn more about how to contribute, please visit our development blog at 
                <a href="https://sakurasou.com.br" target="_blank" class="underline">Sakurasou Devlog</a>.
            </p>
    </div>
</section>