<section class="block w-full lg:container mx-auto lg:rounded bg-gray-700 pt-8 pb-4 px-3 text-white">
    <h3 class="text-center text-2xl font-bold">Login</h3>
    <form action="/admin/login" method="POST" class="flex flex-col pb-4">
        <label for="user" class="pt-4 w-full xs:w-10/12 text-lg lg:w-4/12 mx-auto">Login</label>
        <input type="text" name="username" id="username" class="w-full xs:w-10/12 lg:w-4/12 mx-auto text-gray-700 p-2">
        <label for="password" class="pt-4 w-full xs:w-10/12 text-lg lg:w-4/12 mx-auto">Password</label>
        <input type="password" name="password" id="password" class="w-full xs:w-10/12 lg:w-4/12 mx-auto text-gray-700 p-2">
        <button type="submit" class="font-bold mt-8 mx-auto w-8/12 lg:w-3/12 bg-blue-400 text-gray-800 p-3 text-lg lg:text-xl rounded hover:text-gray-50">Login</button>
    </form>
</section>