<section class="w-full p-2 md:w-auto md:p-0 md:container mx-auto">
    <form action="/admin/new_page" method="POST" class=" w-full flex flex-col my-10 text-center text-gray-50 text-xl">
        <label for="name" class="font-bold pb-4">Name</label>
            <input type="text" name="name" id="name" class="text-gray-800 p-2 mb-2">
                    <label for="platforms" class="font-bold py-4">Plataforms</label>
                    <select name="platforms" id="platforms" multiple class="text-gray-800 py-2">
                        {{#each platforms}}
                            <option value="{{name}}">{{name}}</option>
                        {{/each}}
                    </select>
                    <label class="font-bold text-red-400 pt-2 pb-8">* Hold down the Ctrl (windows) or Command (Mac) button to select multiple options. *</label>
        <button type="submit" class="mx-auto bg-gray-50 text-gray-800 w-5/6 font-bold md:w-4/12 rounded px-2 py-2 hover:bg-gray-300">Save</button>
    </form>
</section>